:root {
  --white: #fff;
  --greyish-black: #24292e;
  --black: #000;
  --greyish-white: #e1e4e8;
}
:root * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styling for mobile screens start here  */
html {
  font-size: 50%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a {
  text-decoration: none;
}

svg:not(:root) {
  overflow: hidden;
}

.octicon {
  vertical-align: text-bottom;
  fill: currentColor;
  display: inline-block;
}

.header-container {
  display: flex;
  background-color: #242a2e;
  line-height: 1.5;
  padding: 1.6rem;
  font-size: 1.4rem;
  flex-wrap: wrap;
}

.header-container,
.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-link {
  background-color: initial;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  border: 0;
}

.octicon-three-bars {
  color: var(--white);
}

/* utilities */

.v-align-middle {
  vertical-align: middle;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100% !important;
}

.header-item {
  margin-right: 1.6rem;
  align-self: stretch;
}

.mt-1 {
  margin-top: 0.2rem;
}

.mt-2 {
  margin-top: 0.4rem;
}

.mt-3 {
  margin-top: 0.8rem;
}

.mt-4 {
  margin-top: 1.6rem !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.2rem;
}

.mb-2 {
  margin-bottom: 0.4rem;
}

.mb-3 {
  margin-bottom: 0.8rem;
}

.mb-4 {
  margin-bottom: 1.6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.2rem;
}

.mr-2 {
  margin-right: 0.4rem;
}

.mr-3 {
  margin-right: 0.8rem;
}

.mr-4 {
  margin-right: 1.6rem;
}

.ml-2 {
  margin-left: 0.4rem;
}

.ml-3 {
  margin-left: 0.8rem;
}

.ml-4 {
  margin-left: 1.6rem;
}

.pt-2 {
  padding-top: 0.4rem;
}

.pt-3 {
  padding-top: 0.8rem;
}

.pt-4 {
  padding-top: 1.6rem;
}

.pr-4 {
  padding-right: 1.6rem;
}

.pl-3 {
  padding-left: 0.8rem;
}

.pl-4 {
  padding-left: 1.6rem;
}

.py-2 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.py-3 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-4 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.px-4 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-12 {
  width: 100%;
}

.flex-auto {
  flex: auto;
}

.f-order-2 {
  order: 2;
}

.flex-column {
  flex-direction: column;
}

.header-link {
  color: var(--white);
  font-weight: 600;
  white-space: nowrap;
}

.header-search {
  max-width: 100%;
  align-self: stretch;
}

.header-search-input {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: var(--white);
  min-height: 2.8rem;
  line-height: 2rem;
}

.header-search-input::placeholder {
  color: #86898c;
}

.form-wrapper {
  display: flex;
  border: 0.1rem solid #444d56;
  border-radius: 0.5rem;
  color: var(--white);
  font-weight: 400;
}

.border-top {
  border-top: 0.1rem solid var(--greyish-white);
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-sticky {
  position: sticky;
}

.mail-status {
  top: -0.6rem;
  left: 0.6rem;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  border: 0.2rem solid var(--greyish-black);
  z-index: 2;
  height: 1.4rem;
  width: 1.4rem;
}

.nav-child-align-self {
  align-self: stretch;
}

details > summary.header-link {
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary:first-of-type {
  list-style-type: none;
}

.details-caret {
  display: inline-block;
  vertical-align: middle;
  border-top-style: solid;
  border-top-width: 0.5rem;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0 solid transparent;
}

.dropdown-menu-caret {
  right: 0;
  left: auto;
}

.dropdown-menu-caret::before {
  right: 1.2rem;
  left: auto;
  top: -1.5rem;
}

.dropdown-menu-caret::after {
  right: 1.2rem;
  left: auto;
  top: -1.5rem;
}

.dropdown-menu {
  list-style: none;
  left: auto;
  z-index: 100;
  background-color: var(--white);
  width: 16.5rem;
  border: 0.1rem solid var(--greyish-white);
  border-radius: 0.5rem;
  top: 100%;
}

.dropdown-menu::after,
.dropdown-menu::before {
  content: "";
  position: absolute;
  display: inline-block;
}

.dropdown-menu::after {
  border: 0.8rem solid transparent;
  border-bottom: 0.8rem solid var(--greyish-white);
}

.dropdown-menu::before {
  border: 0.8rem solid transparent;
  border-bottom: 0.8rem solid var(--greyish-white);
}

.dropdown-item {
  display: block;
  text-overflow: ellipsis;
  color: var(--black);
  padding: 0.4rem 0.8rem 0.4rem 1.6rem;
  white-space: nowrap;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

.signed-in {
  margin-top: -0.8rem;
  margin-bottom: -0.8rem;
  color: var(--black);
}

.dropdown-menu > hr {
  opacity: 0.3;
}

.dropdown-item > a {
  color: #e8effb;
}

.status-container {
  border: 0.1rem solid var(--greyish-white);
  margin: 0.7rem 1.6rem;
  border-radius: 0.6rem;
  text-align: left;
  color: rgb(110, 108, 108);
}

.gt-condensed {
  margin-right: -0.8rem;
  margin-left: -0.8rem;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.sticky-container {
  border-bottom: 0.1rem solid #d1d5d9;
  top: 0;
  z-index: 3;
  background-color: var(--white);
  cursor: pointer;
}

.sticky-section {
  margin-top: 2.5rem;
  max-width: 128rem;
  padding: 0 2.4rem;
}

.u-profile-sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 23.5rem;
  transition: 0.3s;
  opacity: 0;
}

.u-profile-sticky > div {
  height: 5rem;
  position: relative;
  top: 0.1rem;
  z-index: 120;
}

.nav-container {
  height: 5rem;
}

.sticky-items-child {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  line-height: 3rem;
  color: var(--greyish-black);
  text-align: center;
  white-space: nowrap;
  border-bottom: 0.2rem solid transparent;
}

.avatar + span {
  font-size: 1.4rem;
}

.repo {
  font-weight: 600;
  color: var(--greyish-black);
  border-bottom-color: #f9826c;
  padding-bottom: 1.1rem;
}

.repo-count {
  color: var(--greyish-black);
  min-width: 2rem;
  padding: 0 0.6rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: inline-block;
  background-color: rgba(209, 213, 218, 0.5);
  border-radius: 2em;
  border: 0.1rem solid transparent;
}

.main-section-2 {
  max-width: 128rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}

.profile-section {
  align-items: center;
}

.smiley-container-outer {
  bottom: 0;
  left: 100%;
  z-index: 3;
  width: 3.8rem;
  height: 3.8rem;
  margin-left: -4rem;
  margin-bottom: 3.2rem;
  font-size: 1.5rem;
}

.smiley-container-inner {
  background-color: var(--white);
  border-radius: 2em;
  border: 0.1rem solid var(--greyish-white);
  display: inline-block;
  padding: 1rem;
  line-height: 1;
}

.profile-username {
  font-size: 2rem;
  font-weight: 200;
  font-style: normal;
  display: block;
}

.profile-bio {
  font-weight: 300;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.mobile-sticky-nav {
  top: 0;
  padding: 0 1.6rem;
  margin-left: -1.6rem;
  margin-right: -0.5rem;
  z-index: 3;
  border-bottom: 0.1rem solid #d1d5da;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--white);
}

.repo-container {
  border-bottom: 0.1rem solid var(--greyish-white);
}

.repo-search {
  font-size: 1.4rem;
  padding: 0.5rem 1.2rem;
  color: var(--greyish-black);
  line-height: 2rem;
  background-color: var(--white);
  border-radius: 0.7rem;
  outline: none;
  border: 0.1rem solid var(--greyish-white);
}

#repo-container-list > ul > li {
  border-bottom: 0.1rem solid var(--greyish-white);
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.repo-link-color {
  color: #0366d6;
  font-size: 2rem;
}

.repo-link-color:hover {
  cursor: pointer;
}

.profile-name {
  font-size: 2.6rem;
}

.private-label {
  padding: 0 0.7rem;
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 2em;
  color: var(--greyish-black);
  border: 0.1rem solid var(--greyish-white);
}

.repo-description {
  color: var(--greyish-black);
  font-size: 1.2rem;
  margin-top: 0.8rem;
  font-weight: 400;
}

.repo-info-container {
  color: var(--greyish-black);
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.repo-lang-info {
  top: 0.1rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 0.1rem solid transparent;
}

.star-container {
  justify-content: space-around;
  text-align: right;
}

.btn {
  font-size: 1.2rem;
  line-height: 2rem;
  cursor: pointer;
  min-width: 6rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.7rem;
  position: relative;
  color: var(--greyish-black);
  border: 0.1rem solid #d2d5d6;
  background-color: #fafbfc;
}

.template {
  width: 100%;
  color: transparent;
  padding: 1rem 8rem;
  margin-top: 2rem;
}

.onload {
  background-image: linear-gradient(
    0deg,
    #cadfdf,
    #c9cfcf,
    #e6e6e6,
    #f8f6f6,
    #bebebe,
    #9eaaac,
    #cbd3d4,
    #a4a6a8,
    #dcdcdd,
    #949494,
    #b5b5b8,
    #e8ecf1
  );
  background-size: 100% 1100%;
  animation: loading 3s ease-in-out infinite;
  margin-top: 2.5rem;
}

/* Styling for mobile screens end here  */

/* Styling for tablets and medium screen start here */
@media (min-width: 49.125rem) {
  html {
    font-size: 62.5%;
  }
  .header-container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }
  .loading {
    margin-top: 0;
  }

  .flex-md-auto {
    flex: auto;
  }

  .btn {
    padding: 0.3rem 1.2rem;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .header-container {
    flex-wrap: nowrap;
  }

  .flex-md-order-none {
    order: inherit;
  }

  .header-search {
    max-width: 27.2rem;
  }

  .mt-md-none {
    margin-top: 0;
  }

  .mb-md-none {
    margin-bottom: 0;
  }

  .mr-md-none {
    margin-right: 0;
  }

  .pt-md-none {
    padding-top: 0;
  }

  .pl-md-none {
    padding-left: 0;
  }

  .border-md-top-none {
    border-top: none;
  }

  .nav-child-align-self {
    align-self: auto;
  }

  .mr-md-4 {
    margin-right: 1.6rem;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-12 {
    width: 100%;
  }

  .main-section-2 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .profile-section-container {
    margin-top: -4rem;
  }
}
/* Styling for tablets and medium screen end here */

/* Styling for large screen start here */
@media (min-width: 63.25rem) {
  .header-container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .sticky-section {
    padding: 0 3.2rem;
    margin-right: auto;
    margin-left: auto;
  }

  .sticky-section {
    padding: 0 3.2rem;
  }

  .gt-condensed {
    margin-right: -2.4rem;
    margin-left: -1.8rem;
  }

  .d-lg-inline {
    display: inline;
  }

  .main-section-2 {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-9 {
    width: 75%;
  }
}
/* Styling for large screen end here */

/* Animation style */

@keyframes loading {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}
